/////////////////////////////////////////////////////////////////////////////
//
// Animation file for and Urban Terror weapon
//
// Format:
// Animation	Start	Count	FPS		Loop
//
/////////////////////////////////////////////////////////////////////////////
#include "models/animdef.h"

WEAPON_IDLE			10	1	10	1
WEAPON_FIRE			0	11	40	0
WEAPON_RELOAD		11	85	33	0

